.sideBar{
    flex: .25;
    border-right:1px solid var(--background-color);
 
    padding-left:20px;

}

.twitterIcon{
    color:var(--twitter-color);
    margin-left: 1rem;
    font-size: 70px !important;
}
.tweetBtn{
    color:white !important;
    font-weight: 800 !important;
    border-radius:50px !important;
    background-color:var(--twitter-color) !important;
}